<ng-template #bigScreen>
  <div class="lgMainDiv">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <!-- <div id="okta-signin-container" class="flex align-items-center justify-content-center flex-wrap card-container ml-7 z-5"></div> -->
      

      <div class="mainBtnDiv" fxLayout="columns wrap" fxLayoutAlign="center center">
        <div class="btnItems">
          <!-- <p-button label="Hosted Widget" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="signInHosted()"></p-button> -->
          <p-speedDial [model]="appNav" radius="80" type="circle"  showIcon="pi pi-bars" hideIcon="pi pi-times" buttonClassName="p-button-outlined" id="mainSpeedD"></p-speedDial>
        </div>
        <!-- <div class="btnItems">
          <p-button label="iFrame" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="openiFrameModal()"></p-button>
        </div>
        <div class="btnItems">
          <p-button label="Embedded" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="test()"></p-button>
        </div>
        <div class="btnItems">
          <p-button label="Embedded SDK" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="test()"></p-button>
        </div> -->
      </div>

      <div class="flex align-items-center justify-content-center-center ml-4 p-8">
        <img src="assets/img/okta_japan_white_medium.png" class="mainBanner">
      </div>

    </div>
  </div>
</ng-template>

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <div class="smMainDiv" fxLayout="row wrap" fxLayoutAlign="center center">

    
    <div class="smbtn" fxLayoutAlign="center center">
      <p-speedDial [model]="appNav" radius="80" type="circle"  showIcon="pi pi-bars" hideIcon="pi pi-times" buttonClassName="p-button-outlined" id="smmainSpeedD"></p-speedDial>
    </div>

    <div class="smBanner">
      <img src="assets/img/okta_japan_white_medium.png" class="smmainBanner">
    </div>
    <!-- <div class="mainBtnDiv" fxLayout="row wrap" fxLayoutAlign="center center">
      <div class="smbtnItems">
        <p-button label="Hosted Widget" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="signInHosted()"></p-button> 
      </div>
      <div class="smbtnItems">
        <p-button label="iFrame" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="showModalDialog()"></p-button>
      </div>
      <div class="smbtnItems">
        <p-button label="Embedded" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="test()"></p-button>
      </div>
      <div class="smbtnItems">
        <p-button label="Embedded SDK" icon="pi pi-sign-in" styleClass="p-button-lg" id="btnMain" (onClick)="test()"></p-button>
      </div>
    </div> -->
    
  </div>
</ng-template>


<!-- <p-dialog header="Header" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" >
    <p>
      <app-iframe-widget></app-iframe-widget>
    </p>
     <p class="p-m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayResponsive=false" label="Yes" class="p-button-text" id="btnModal"btnMain></p-button>
            <p-button icon="pi pi-times" (click)="displayResponsive=false" label="No" id="btnModal"></p-button>
        </ng-template>
</p-dialog> -->