.lgMainDiv {
  margin-top: 20% !important;
  // top:100%!important;
  height: auto !important;
  z-index: 1 !important;

  // border-style: dotted;
  color: #ffffff;
}

.smMainDiv {
  // border-style: dotted;
  // color: #ffffff !important;
  text-align: center !important;
  margin-top: 250px !important;
  height: auto;
}

.mainBtnDiv {
  // border-style: dotted;
  color: #ffffff !important;
  // width:80vw!important;
  text-align: center !important;
}

.btnItems {
  
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  padding-left: 5vw !important;
  // margin-bottom:40vh!important;
}

.smbtnItems {
  border-style: dotted;
  color: #ffffff !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  text-align: center !important;
}

#btnMain {
  .p-button-lg {
    width: 90% !important;
    background-color: #00297a !important;
    border-radius: 5px !important;
  }
}

#btnModal {
  .p-button {
    background-color: #00297a !important;
    border-radius: 5px !important;
    padding: 10px !important;
  }
}

#mainSpeedD {
  margin-right: 1vw !important;
  .p-speeddial {
    position: relative;
    .p-speeddial-button.p-button.p-button-icon-only {
      width: 6rem !important;
      height: 6rem !important;
      border-width: 5px !important;
    }
    .p-speeddial-list{
      // --item-diff-x:40px!important;
      // --item-diff-y:40px!important;
    }
  }
}

#mainSpeedD {
  .p-element {
    .p-speeddial-action {
      width: 4rem !important;
      height: 4rem !important;
      -webkit-backdrop-filter: blur(6px) !important;
      backdrop-filter: blur(6px) !important;
      background: transparent !important;
      border: solid #ffffff;
      
    }
    
  }
  
}

#smmainSpeedD {
  // margin-right: 1vw!important;
  .p-speeddial {
    position: relative;
    .p-speeddial-button.p-button.p-button-icon-only {
      width: 6rem;
      height: 6rem;
      border-width: 5px !important;
    }
  }
}

#smmainSpeedD {
  .p-element {
    .p-speeddial-action {
      width: 4rem !important;
      height: 4rem !important;
    }
    
  }
  
}

.smbtn {
  top:50%!important;
  width: 90% !important;
  // border-style:   dotted;
  // color: #ffffff !important;
  text-align: center!important;
  padding-bottom: 50%!important;
}

.mainBanner {
  width: 40vw !important;
}

.smBanner{
  width: 90% !important;
}

.smmainBanner {
  width: 100% !important;
}
