<style>
  #intro {
    /* Pint the below path to another image to change the background */
    /* background-image: url('assets/img/okta_blue_bg.png'); */
    background-image: url('assets/img/bg-cloud-v2.jpg');

    height: 100%;
    /* Below for Parallax effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    
  }
</style>

<div class="appBackground bg-image" id="intro">
    
  <!-- <div style="background-color: rgba(0, 0, 0, 0.55)"></div> -->
  <app-navbar></app-navbar>
  <div class="mainContainer" fxLayout="row wrap" fxLayoutAlign="center start">
    <router-outlet></router-outlet>
  </div>
</div>


<app-footer></app-footer>