.widgetbackbtnDiv{
  padding:10px!important; 
}

#defaultSIWBack{
  .p-button {
    background-color: #00297A !important;
    padding: 10px !important;
    width: 100px !important;
    // height:30px!important;
  }
}