.mat-dialog-container {
  padding: 0px !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  background: transparent !important;
  border-top: 2px solid rgba(225, 225, 225, 0.3);
  border-left: 2px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2);
}
// }

.WidgetBackDiv {
  //  background-color: darkgrey!important;
  // background-image: url('/assets/img/mnt_asama_4.png')!important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}


#okta-sign-in.auth-container .okta-form-label {
  text-align: center !important;
}

.auth-container,
.main-container,
.no-beacon {
  background: transparent !important;
  color: #ffffff !important;
}

.okta-form-title,
.o-form-head {
  color: #ffffff !important;
}

.okta-form-label,
.o-form-label {
  color: #ffffff !important;
}

#okta-sign-in .sign-in-with-device-option .separation-line:before {
  border-top: none !important;
}

#okta-sign-in {
  .separation-line {
    background: transparent !important;
    font-size: 13px;
  }
  .separation-line span {
    color: #ffffff !important;
    background: transparent !important;
  }
}

#okta-sign-in .siw-main-footer .auth-footer .link {
  color: #ffffff !important;
}

.okta-verify-authenticator {
  background-image: url("/assets/img/panda.ico") !important;
}

.okta-form-infobox-error,
.infobox,
.infobox-error {
  color: red !important;
}

#okta-sign-in .auth-header {
  border: none !important;
}

#okta-sign-in {
  /* border-style: solid; */
  border-width: 0px !important;
  height: auto;
  margin: 0px !important;
}

#okta-sign-in.auth-container .button-primary {
  color: #fff;
  background-color: #ff5733 !important;
  background: #ff5733 !important;
  border-color: #ff5733 !important;
}

#okta-sign-in.auth-container .mfa-okta-verify {
  // background-image: url(../img/icons/mfa/oktaVerify_70x70.png);
  background-image: url("/assets/img/lion-logo.png") !important;
}

#okta-sign-in.auth-container .mfa-okta-password {
  background-image: url("/assets/img/panda-logo.png") !important;
}

#okta-sign-in.auth-container h3 {
  color: #ffffff !important;
}

#okta-sign-in.auth-container .okta-form-subtitle {
  color: #ffffff !important;
}

#customSIWBack {
  .p-button {
    // background-color: #FF5733 !important;
    padding: 5px !important;
    width: 100px !important;
    height: 30px !important;
  }
}

#customSIWBack {
  .p-button:hover {
    // background-color: #FF5733 !important;
    background-color: transparent !important;
    padding: 5px !important;
    width: 100px !important;
    height: 30px !important;
  }
}

.backbtnDiv {
  padding: 10px !important;
}

#okta-sign-in .auth-org-logo {
  border-radius: 5px !important;
}
