// .footer {
//   color: #41414b !important;
// }
.footerLink:link {
  text-decoration: none;
  color: #6E6E78 !important;
  font-size: 12px!important;
}
.footerLink:visited {
  text-decoration: none;
  color: #6E6E78 !important;
  font-size: 12px!important;
}
.footerLink:hover {
  text-decoration: none;
  color: #6E6E78 !important;
  font-size: 12px!important;
}
.footerLink:active {
  text-decoration: none;
  color: #6E6E78 !important;
  font-size: 12px!important;  
}