<div class="footer" style="background-color: #D7D7DC;">
  <div class="w-full block font-medium text-center p-4 mb-3" style="background-color:#6E6E78;color:#FFFFFF;">
    <p>
      Oktaは、全世界の企業から信頼されるパートナーとして、お客様が最大限の可能性を発揮するために必要な自信を提供します。
    </p>
  </div>
  <div class="w-full flex bottom-0 h-full align-content-center mb-3" style="background-color: #D7D7DC;">
    <div class="flex-1 h-full  font-bold text-center  border-round" style="background-color: #D7D7DC"><a
        href="https://www.okta.com/jp/company/" target="_blank" class="footerLink">会社情報</a></div>
    <div class="flex-1 h-full  font-bold text-center  border-round" style="background-color: #D7D7DC"><a
        href="https://status.okta.com/" target="_blank" class="footerLink">システムステータス</a></div>
    <div class="flex-1 h-full font-bold text-center  border-round" style="background-color: #D7D7DC"><a
        href="https://www.okta.com/jp/privacy-policy/" target="_blank" class="footerLink">プライバシー</a></div>
    <div class="flex-1 h-full  font-bold text-center  border-round" style="background-color: #D7D7DC"><a
        href="https://developer.okta.com/" target="_blank" class="footerLink">開発者サイト</a></div>

    <!-- **************************************************************** -->
    <!-- **************************************************************** -->
    <!-- Update this with the repo link -->
    <!-- Github -->
    <div class="flex-1 h-full text-white font-bold text-center  border-round" style="background-color: #D7D7DC"><a
        href="{{strRepoURL}}" target="_blank" class="footerLink"><i class="pi pi-github" style="font-size: 1.5rem;color:#6E6E78!important;"></i></a></div>
    <!-- **************************************************************** -->
    <!-- **************************************************************** -->
  </div>
  <div class="w-full flex bottom-0 h-full align-content-center pb-4" style="background-color: #D7D7DC;">
    <div class="flex-1 h-full font-bold text-center  border-round" style="background-color: #D7D7DC;color: #6E6E78;"><a
        class="footerLink" style="color: #6E6E78">Copyright © {{strDate | date: 'yyyy'}},
        <a href="https://okta.com/" style="color: #6E6E78">Okta. </a>All rights reserved.</a>

    </div>
  </div>
</div>